        /* Style for the navbar */
        @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

        html {
          font-family: 'Urbanist' !important;
        }

        body {
          font-family: 'Urbanist' !important;
          margin: 0;
          padding: 0;
          height: 100%;
          width: 100%;
          min-width: 100%;
        }

        nav {
          position: fixed !important;
          top: 0;
          left: 0;
          width: 100%;
          transition: top 0.3s;
          font-size: 1.2rem !important;
          font-weight: 600;
          z-index: 22 !important;
        }

        .navbar-brand img {
          width: 8rem;
          height: auto;
        }

        .links {
          text-decoration: none;
          color: var(--pearl);
          background-color: transparent;
        }

        .logo_dark {
          display: none;
        }

        .animated-title {
          /* font-size: 10rem; */
          font-size: clamp(5rem, 12vw, 20rem);
          z-index: 5;
          transition: all 0.5s;
        }

        .content {
          font-family: 'Urbanist' !important;
          letter-spacing: 0;
          font-size: 3.4rem;
          line-height: 3rem;
          height: 100vh;
          width: 100%;
          scale: 1;
          overflow: hidden;
        }



        .content h1 {
          letter-spacing: -0.8rem;
        }

        .heading_animation {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 12;
        }

        .animation_background {
          display: grid;
          place-items: center;
          width: 50vh;
          /* min-height: 100%; */
          height: 50vh;
          background-color: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          scale: 0;
          border: 1px solid black !important;
          border-radius: 50% !important;
        }

        .banner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          right: 0;
          opacity: 0;
          z-index: 20;
          width: 100%;
          height: 100vh;
        }

        .banner h2 {
          font-size: 100%;
          color: #fff;
          transition: all 0.5s;
        }

        .banner h4 {
          font-size: 60%;
          color: #fff;
          transition: all 0.5s;
        }

        .banner img {
          object-fit: cover;
        }

        .speciality section {
          max-height: 50vh;
          min-height: 20vh;
          scroll-behavior: smooth;
          padding-left: clamp(2rem, 10vh, 5rem);
        }

        .speciality h4 {
          cursor: pointer;
          position: relative;
          display: inline-block;
          font-size: 2.4rem;
          letter-spacing: -1.5px;
          line-height: 2.2rem;
        }

        .speciality h4::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px;
          width: 100%;
          height: 2px;
          background-color: #000;
          transform: scaleX(0);
          transform-origin: left center;
          transition: transform 0.3s ease-in-out;
        }


        .speciality h4:hover::after {
          transform: scaleX(1);
        }

        .of {
          margin-left: clamp(-30rem, 15vw, -35rem);
          margin-right: clamp(1rem, 15vw, 1rem);
        }

        .doctors {
          height: 100%;
          width: 100%;
          background-color: #fff;
        }

        #hidder1 {
          top: 0%;
          padding-left: 10rem;
          padding-right: 15rem;
          z-index: -1 !important;
          color: var(--pearl);
          background-color: var(--pearl);
        }

        #hidder2 {
          bottom: -50%;
          padding-left: 10rem;
          padding-right: 15rem;
          color: var(--pearl);
          z-index: -1 !important;
          background-color: var(--pearl);
        }

        #changingtext1 {
          padding-left: 1.3rem;
          transition: top, bottom 1.5s;
          animation: changingtext1Anim 1.5s ease-in-out;
          animation-delay: 1s;
          animation-fill-mode: forwards;
          z-index: -2;
        }

        #changingtext2 {
          padding-left: 1.3rem;
          transition: top 1.5s;
          transition: bottom 1.5s;
          animation: changingtext2Anim 1.5s ease-in-out;
          animation-delay: 2s;
          bottom: -50%;
          z-index: -2;
        }

        #changingtext3 {
          padding-left: 1.3rem;
          transition: top, bottom 1.5s;
          animation: changingtext3Anim 1.5s ease-in-out;
          animation-delay: 3s;
          bottom: -50%;
          z-index: -2;
        }

        #changingtext4 {
          padding-left: 1rem;
          transition: top, bottom 1.5s;
          animation: changingtext4Anim 1.5s ease-in-out;
          animation-delay: 4s;
          animation-fill-mode: forwards;
          bottom: -50%;
          z-index: -2;
        }

        .Doctors_brief {
          height: max-content;
        }

        .Doctors_brief .cards {
          overflow: hidden;
          cursor: pointer;

          transition: transform 0.3s ease-in-out;
        }

        .Doctors_brief .card-img {
          position: relative;
          overflow: hidden;
        }

        .Doctors_brief .card-img-top {
          transition: transform 0.5s;
        }

        .Doctors_brief .cards:hover .card-img-top {
          transform: scale(1.2);
          cursor: pointer;
        }

        .articles_mobile {
          display: none;
        }

        .articles {
          font-size: 8rem;
          width: 100%;
        }

        .articles h2 {
          padding-left: 1rem;
          font-size: 4rem;
          letter-spacing: -3px;
        }

        .articles aside {
          font-size: 30%;
          letter-spacing: -2px;
          transition: all 0.5s;
        }

        .articles main {
          font-size: 15%;
          line-height: 1.5rem;
        }

        .article {
          color: var(--charcoal);
          cursor: pointer;
        }

        .article img {
          width: 3.4%;
          height: auto;
          object-fit: contain;
          transition: all 0.4s;
        }

        .article :hover aside {
          font-size: 40%;
        }

        .articles .articleimg {
          width: 9rem;
          transition: all 0.5s;
          transform: scale(0);
        }

        .articles :hover .articleimg {
          transform: scale(1.2);
        }

        .article :hover .arrow {
          transform: rotate(45deg);
        }

        .fade-line1 {
          width: 100%;
          height: 2px;
          background: linear-gradient(to right, transparent, black);
        }

        .fade-line2 {
          width: 100%;
          height: 2px;
          background: linear-gradient(to left, transparent, black);
        }

        footer {
          height: 100vh;
          width: 100%;
          background-color: #000;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 20px;
          padding-bottom: 10rem;
          width: 100%;
        }

        footer .footer-heading {
          color: #fff;
          width: 100%;
          line-height: 1;
          letter-spacing: -0.5rem;
          font-weight: 700;
          text-align: center;
          font-size: clamp(8rem, 10vw, 15rem);
        }

        footer .button-book-Appointment {
          margin-top: 4rem !important;
          height: 4.2rem;
          width: 28rem;
          font-size: 140%;
          font-weight: 600;
        }

        footer .links {
          margin-top: 4rem;
          font-weight: 600;
          font-size: 100%;
          color: #fff;
          cursor: pointer;
        }

        .footeranimation {
          height: 100vh;
          opacity: 0;
        }

        @keyframes changingtext1Anim {
          0% {
            bottom: 0%;

          }

          25% {
            bottom: 0%;

          }

          50% {
            bottom: 0%;

          }

          100% {
            bottom: 50%;
          }
        }

        @keyframes changingtext2Anim {
          0% {
            bottom: -50%;

          }

          25% {
            bottom: 0%;

          }

          50% {
            bottom: 0%;

          }

          100% {
            bottom: 50%;
          }
        }

        @keyframes changingtext3Anim {
          0% {
            bottom: -50%;

          }

          25% {
            bottom: 0%;

          }

          50% {
            bottom: 0%;

          }

          100% {
            bottom: 50%;
          }
        }

        @keyframes changingtext4Anim {
          0% {
            bottom: -50%;

          }

          25% {
            bottom: 0%;

          }

          50% {
            bottom: 0%;

          }

          100% {
            bottom: 0%;
          }
        }

        @keyframes zoomtext {
          from {
            opacity: 0.5;

          }

          to {
            opacity: 1;

          }
        }

        @media (min-width:991px) and (max-width:1024px) {}

        @media (min-width:577px) and (max-width:990px) {
          .content {
            font-size: clamp(2rem, 10vw, 4rem);

          }

          .content h1 {
            letter-spacing: clamp(-0.2rem, 1vh, -0.3rem);
          }


          .banner {
            display: grid;
            place-items: center;
            height: 100vh;
            text-align: center;
          }

          .cartoon img {
            width: 50vh;
          }

          .banner h2 {
            font-size: clamp(2rem, 10vw, 3rem);
          }

          .banner h4 {
            font-size: clamp(1.5rem, 5vw, 2.5rem);
          }

          .doctors {
            margin-top: 2rem !important;
          }

          .speciality {
            margin-top: 1rem !important;
          }

          .speciality {
            padding-left: 0;
          }

          .speciality section {
            padding-left: 0;
          }

          .speciality h4 {
            font-size: clamp(0.8rem, 4.5vw, 1.6rem);
            letter-spacing: -1.5px;
            width: 100%;
            line-height: 2.2rem;
            display: inline;
          }

          .Doctors_brief h5 {
            font-size: clamp(1rem, 1vh, 1.5rem);
          }

          .Doctors_brief p {
            font-size: clamp(0.5px, 2vh, 0.8rem);
          }

          .Doctors_brief small {
            font-size: clamp(0.5rem, 2.5vh, 0.8rem);
          }

          .articles {
            font-size: 5rem;
            width: 100%;
          }

          .articles h2 {
            padding-left: 1.5rem;
            font-size: 3rem;
            letter-spacing: -3px;
          }

          .articles aside {
            font-size: 30%;
            letter-spacing: -2px;
            transition: all 0.5s;
          }

          .articles main {
            font-size: 18%;
            line-height: 1rem;
          }

          .article {
            color: var(--charcoal);
            cursor: pointer;
          }

          .article img {
            width: 3.4%;
            height: auto;
            object-fit: contain;
            transition: all 0.4s;
          }

          .article :hover aside {
            font-size: 35%;
          }

          .article .articleimg {
            text-align: left;
            width: 9rem;
            transition: all 0.5s;
            transform: scale(0);
          }

          .article :hover .articleimg {
            transform: scale(0.5);
            margin-left: -2rem;
          }

          .article .arrow {
            width: 4rem;
          }
        }

        @media (min-width:280px) and (max-width:576px) {
          .articles {
            display: none;
          }

          .articles_mobile {
            display: block;
          }

          header img {
            width: clamp(5rem, 25vw, 10rem)
          }

          header p {
            font-size: clamp(0.75rem, 5vh, 1rem);
          }

          .links a {
            font-size: clamp(0.75rem, 5vh, 1rem);
          }

          .of {
            width: 100%;
            margin-left: clamp(-15rem, 15vw, -35rem);
            margin-right: clamp(1rem, 15vw, 1rem);
          }

          .animated-title {
            font-size: clamp(3rem, 15vw, 15rem);
            z-index: 5;
            transition: all 0.5s;
          }

          .content h1 {
            letter-spacing: clamp(-0.2rem, 6vh, -0.4rem);
          }

          .speciality section {
            display: flex;
            justify-content: space-between;
            max-height: fit-content;
            min-height: fit-content;
            align-items: center;
            padding-left: 0px;
          }

          .speciality h4 {
            line-height: 1;
            margin: 0px 1rem;
            font-size: clamp(0.75rem, 10vw, 1.5rem);
            height: fit-content;
          }

          .Doctors_brief .col-6 {
            padding-left: 0 !important;
            padding-right: 0 !important;
          }

          .articles_mobile h2 {
            font-size: clamp(1rem, 10vw, 2rem);
            padding-left: 4vh;
            letter-spacing: -0.1rem;
          }

          .articles_mobile .article {
            margin: 2.5vh 0;
          }

          .articles_mobile .article h3 {
            letter-spacing: -0.1rem;
            font-size: clamp(0.75rem, 8vw, 1.6rem);
          }

          .articles_mobile .articleimg {
            width: clamp(8rem, 10vh, 12rem)
          }

          .banner {
            text-align: center;
          }

          .banner h2 {
            font-size: clamp(1.5rem, 10vw, 3rem);
          }

          .banner h4 {
            font-size: clamp(1rem, 5vw, 2.5rem);
          }

          .cartoon img {
            width: clamp(15rem, 40vh, 20rem);
          }

          footer {
            height: 100vh;
            width: 100%;
            background-color: #000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            padding-bottom: 10rem;
            width: 100%;
          }

          footer .heading {
            margin-top: 18vh;
          }

          footer .footer-heading {
            color: #fff;
            width: 100%;
            line-height: 1;
            letter-spacing: -0.2rem;
            font-weight: 700;
            text-align: center;
            font-size: clamp(3rem, 10vw, 10rem);
          }

          footer .button-book-Appointment {
            margin-top: 1rem !important;
            height: 2.2rem;
            width: 10rem;
            font-size: 80%;
            font-weight: 600;
          }

          footer .links {
            margin-top: 1rem;
            font-weight: 600;
            font-size: 80%;
            color: #fff;
            cursor: pointer;
          }

          footer img {
            width: 2rem;
          }

          .footeranimation {
            height: 100vh;
            opacity: 0;
          }

          .copyright {
            font-size: 60%;
          }

          .media .spacer {
            height: 2rem !important;
          }
        }