.doctorname{
    font-size: clamp(8rem,5vw,12rem);
    font-weight: 600;
    letter-spacing: -0.5rem;
    line-height: 7rem;

}
.doctorintro .para{
    margin-top:10vh;
}
.doctorprofession{
    font-size: clamp(3rem,1vw,12rem);
    font-weight: 600;
    letter-spacing: -0.2rem;
    line-height: 7rem;
}
/* .doctorphoto{
 
    height:70vh;
    top:10vh;
    right:5vh;
    background-image: url('../images/ankurnanda.png');
    background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
} */
.image-container {
    margin-top: 0vh;
    margin-bottom:10vh;
    height:80vh;
    width: 100%;
    margin:10vh;
    margin-left:0;
    position: relative;
    overflow: hidden;
    background-color: #abab9c;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    display: block;
    top:-25vh;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
  }
  
.doctorphoto img{
    transition: all 0.6s;
    transform:scale(0.8);
}
.doctorphoto img:hover{
    transform:scale(1);
}
.paragraph{
    font-size: clamp(1rem,1vw,2rem);
    font-weight: 600;
    letter-spacing: -0.05rem;
    line-height: -1rem; 
}
.hr{
    height:1px;
}
.sub-article{
    font-size: clamp(3.5rem,2vw,5rem);
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 120%;
    padding-bottom: 5vh;
    cursor: pointer;
    width:85%;
}
.heading{
    font-size: clamp(1.5rem,1.3vw,2rem);
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 120%;
    padding-top:5vh;
}
.heading2{
    font-size: clamp(1.3rem,1vw,2rem);
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 120%;
    padding-top:3vh;
}
.anim-border{
    position: relative;
}
.anim-border::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0; 
    width: 90%;
    padding-top: 0;
    height: 3px;
    background-color: #000;  
    transform-origin: left center;
    transition: all 0.3s ease-in-out; 
}
.anim-border:hover::before {
height: 10px;
  }