        /* Style for the navbar */
        @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        html{
          font-family: 'Urbanist' !important;
        }
        body{
          font-family: 'Urbanist' !important;
          margin: 0;
          padding: 0;
          height:100%;
          width:100%;
          min-width:100%;
        }
     
        nav {
            position: fixed !important;
            top: 0;
            left: 0;
            width: 100%;
            transition: top 0.3s;
            font-size: 1.2rem !important;
            font-weight: 600;
            z-index: 22 !important;
        }
        .navbar-brand img{
          width:8rem;
          height:auto;
        }
        .links{
          text-decoration: none;
          color:var(--pearl);
          background-color: transparent;
        }
        .logo_dark{
          display: none;
        }
        .animated-title {
          /* font-size: 10rem; */
          font-size: clamp(5rem, 12vw, 20rem);
          z-index: 5;
        }
        .anim{
          height:100vh;
          width:100%;
          position: fixed;
          top:0;
          left:0;
          right:0;
        }
        .content {
          font-family: 'Urbanist' !important;
          letter-spacing: 0;
          font-size: 3.4rem;
          line-height: 3rem;
          height:100vh;
          width:100%;
          scale: 0.5;
          overflow: hidden;
        }
        .content h1{
          letter-spacing: -0.8rem;
        }
        .heading_animation{
          position: absolute;
          top:0;
          left:0;
          right:0;
          height:100%;
          width:100%;
          z-index: 12;
        }
        .support{
          height: 0;;
          width:100%;
          background-color: aqua;
        }
        .banner1{
          width:100%;
          /* background-color: transparent; */
          color: var(--pearl);
          /* border-radius: 80%; */
          z-index: 10;
          text-overflow: wrap;
          font-size: 4rem;
          opacity:1;
          height:100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          transition: all 0.8s;
          z-index: 24;

        }
   
        .animation_background{

          display: grid;
          place-items: center;
          width:100%;
          min-height:100vh;
          background-color: #000;
          border-radius: 0;
          scale:1;
          z-index: 12;
          margin-top: 0;
        }

        .banner1 h2{
          font-size: 100%;
          transition: all 0.5s;
        }
        .banner1 h4{
          font-size: 60%;
          transition: all 0.5s;
        }
        .banner1 img{
          object-fit: cover;
        }
        .speciality{
          margin-top:-5rem !important;
        }
        .speciality section{  
          height:35rem;
          max-height:40rem;
          min-height:20rem;
          overflow: scroll;
          scroll-behavior: smooth;
        }
        .speciality h4{
        cursor: pointer;
        position: relative;
        display: inline-block;
        font-size: 2.4rem;
        letter-spacing:-1.5px;
        line-height: 2.2rem;
        }
        .speciality h4::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0px; 
          width: 100%;
          height: 2px;
          background-color: #000; 
          transform: scaleX(0); 
          transform-origin: left center;
          transition: transform 0.3s ease-in-out; 
        }
        .fade1 , .fade2{
          /* border:1px solid black; */
          width:90%;
          background-color: #fff;
          height:2rem;
          opacity: 0.8;
        }
        .fade1{
          box-shadow: 0px 14px 14px 10px #fff;
          z-index: 5;
        }
        .fade2{
          bottom:0;
          box-shadow: 0px -14px 14px 0px #fff; 
          z-index: 5;
        }
        .speciality h4:hover::after {
          transform: scaleX(1); 
        }
        .of{
          margin-left: clamp(-30rem, 15vw, -35rem);
          margin-right: clamp(1rem, 15vw, 1rem);
        }
        .doctors{
          min-height: 100vh;
          height:100vh;
          width:100%;
          background-color: #fff;
        }

        #hidder1{
          top:0%;
          padding-left:10rem;
          padding-right:15rem;
          z-index: -1 !important;
          color:var(--pearl);
          background-color: var(--pearl);
        }
        #hidder2{
          bottom:-50%;
          padding-left:10rem;
          padding-right:15rem;
          color:var(--pearl);
          z-index: -1 !important;
          background-color: var(--pearl);
        }
        #changingtext1{
           padding-left:1.3rem;
            transition: top,bottom 1.5s;
            animation: changingtext1Anim 1.5s ease-in-out;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            z-index: -2;
          }
          #changingtext2{
            padding-left:1.3rem;
            transition: top 1.5s;
            transition: bottom 1.5s;
            animation: changingtext2Anim 1.5s ease-in-out ;
            animation-delay: 2s;
            bottom:-50%;
            z-index: -2;
          }
          #changingtext3{
            padding-left:1.3rem;
            transition: top,bottom 1.5s;
            animation: changingtext3Anim 1.5s ease-in-out ;
            animation-delay: 3s;
            bottom:-50%;
            z-index: -2;
          }
          #changingtext4{
            padding-left:1rem;
            transition: top,bottom 1.5s;
            animation: changingtext4Anim 1.5s ease-in-out ;
            animation-delay:4s;
            animation-fill-mode: forwards;
            bottom:-50%;
            z-index: -2;
          }
          .Doctors_brief{
            height:max-content;
          }
          .Doctors_brief .cards{
            overflow: hidden;
            cursor: pointer;
  
            transition: transform 0.3s ease-in-out;
          }
          .Doctors_brief .card-img{
            position: relative;
            overflow: hidden;
          }
          .Doctors_brief .card-img-top{
            transition: transform 0.5s;
          }

          .Doctors_brief .cards:hover .card-img-top{
            transform: scale(1.2);
            cursor: pointer;
          }
        
          .articles{
            font-size: 8rem;
            width:100%;
          }
          .articles h2{
            padding-left: 1rem;
            font-size: 4rem;
            letter-spacing: -3px;
          }
          .articles aside{
            font-size:30% ;
            letter-spacing: -2px;
            transition: all 0.5s;
          }
          .articles main{
            font-size:15% ;
            line-height: 1.5rem;
          }
          .article{
            color:var(--charcoal);
            cursor: pointer;
          }
          .article img{
            width: 3.4%;
            height: auto;
            object-fit: contain;
            transition: all 0.4s;
          }
          .article :hover aside{
            font-size:40%;
          }
          .article .articleimg{
            width:9rem;
            transition: all 0.5s;
            transform: scale(0);
          }
          .article :hover .articleimg{
            transform: scale(1.2);
          }
          .article :hover .arrow{
            transform: rotate(45deg);
          }
          .fade-line1 {
            width: 100%; 
            height: 2px;
            background: linear-gradient(to right, transparent, black);
          }
          .fade-line2 {
            width: 100%;
            height: 2px; 
            background: linear-gradient(to left, transparent, black); 
          }
          footer{
            height:100vh;
            width: 100%;
            background-color:#000;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            width: 100%;
          }
       
          footer .footer-heading{
            color: #fff;
            width:100%;
            line-height: 1;
            letter-spacing: -0.5rem;
            font-weight: 700;
            text-align: center;
            font-size: clamp(8rem,10vw,15rem);
          }
          footer .button-book-Appointment{
            margin-top: 4rem !important;
            height:4.2rem;
            width:28rem;
            font-size: 140%;
            font-weight: 600;
          }
          footer .links{
            margin-top: 4rem;
            font-weight: 600;
            font-size: 100%;
            color: #fff;
            cursor: pointer;
          }
          .footeranimation{
            height:100vh;
            opacity:0;
        }
       
          @keyframes changingtext1Anim {
            0%{
              bottom:0%;

            }
            25% {
              bottom:0%;

            }
            50% {
              bottom:0%;
 
            }
            100% {
              bottom:50%;
            }
          }

          @keyframes changingtext2Anim {
            0%{
              bottom:-50%;

            }
            25% {
              bottom:0%;

            }
            50% {
              bottom:0%;
 
            }
            100% {
              bottom:50%;
            }
          } 
           @keyframes changingtext3Anim {
             0%{
              bottom:-50%;

            }
            25% {
              bottom:0%;

            }
            50% {
              bottom:0%;
 
            }
            100% {
              bottom:50%;
            }
          }
          @keyframes changingtext4Anim {
            0%{
              bottom:-50%;

            }
            25% {
              bottom:0%;

            }
            50% {
              bottom:0%;
 
            }
            100% {
              bottom:0%;
            }
          }
          @keyframes zoomtext {
            from{
              opacity: 0.5;
             
            }
            to{
              opacity: 1;
              
            }
          }
