.doctorname {
    font-size: clamp(8rem, 5vw, 12rem);
    font-weight: 600;
    letter-spacing: -0.5rem;
    line-height: 7rem;

}

.doctorintro {
    font-size: 5rem;
}

.doctorintro .para {
    margin-top: 10vh;
}

.doctorprofession {
    font-size: clamp(3rem, 1vw, 12rem);
    font-weight: 600;
    letter-spacing: -0.2rem;
    line-height: 7rem;
}

.doctorphoto {
    position: fixed;
    top: 0;
    right: 0;
}

.image-container {
    margin-top: 0vh;
    margin-bottom: 10vh;
    height: 80vh;
    width: 100%;
    margin: 10vh;
    margin-left: 0;
    position: relative;
    overflow: hidden;
    background-color: #abab9c;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    top: -25vh;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.doctorphoto img {
    transition: all 0.6s;
    transform: scale(0.8);
}

.doctorphoto img:hover {
    transform: scale(1);
}

.paragraph {
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: 600;
    letter-spacing: -0.05rem;
    line-height: -1rem;
}

.hr {
    height: 1px;
}

.sub-article {
    font-size: 50%;
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 120%;
    padding-bottom: 5vh;
    cursor: pointer;
    width: 85%;
}

.heading {
    font-size: clamp(1.5rem, 1.3vw, 2rem);
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 120%;
    padding-top: 5vh;
}

.heading2 {
    font-size: clamp(1.3rem, 1vw, 2rem);
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 120%;
    padding-top: 3vh;
}

.anim-border {
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 120%;
    position: relative;
}

.anim-border::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    width: 90%;
    transform: translate(-50%,0%);
    padding-top: 0;
    height: 3px;
    background-color: #000;
    transform-origin: left center;
    transition: all 0.3s ease-in-out;
}

.anim-border:hover::before {
    height: 10px;
}

.sub-article2 {
    font-size: 50%;
}

@media (min-width:991px) and (max-width:1024px) {}

@media (min-width:577px) and (max-width:990px) {
    .doctorphoto {
        position: relative;
    }

    .image-container {
        height: 100%;
        width: 100%;
        margin-top: 2vh;
        background-color: transparent;
        margin-bottom: 0;
        position: relative;
        display: grid;
        place-items: center;
    }

    .image-container img {
        position: inherit;
        top: 0;
        width: clamp(5rem, 50vh, 40rem);
    }

    .doctorname {
        font-size: clamp(2rem, 10vh, 3rem);
        line-height: 0.5;
        font-weight: 600;
        letter-spacing: -0.5rem;
    }

    .doctorprofession {
        font-size: clamp(2rem, 10vh, 3rem);
        line-height: 2;
    }

    .doctorintro .para {
        margin-top: 0;
    }

    .doctorphoto {
        position: inherit;
    }

    .sub-article {
        width: 100%;
    }
}

@media (min-width:280px) and (max-width:576px) {
    header img {
        width: clamp(5rem, 25vw, 10rem)
    }

    header p {
        font-size: clamp(0.75rem, 5vh, 1rem);
    }

    .links a {
        font-size: clamp(0.75rem, 5vh, 1rem);
    }

    .doctorphoto {
        position: relative;
    }

    .image-container {
        height: 50%;
        width: 100%;
        margin-top: 10vh;
        background-color: transparent;
        margin-bottom: 0;
        position: relative;
        display: grid;
        place-items: center;
    }

    .image-container img {
        position: inherit;
        top: 0;
        width: clamp(5rem, 40vh, 40rem);
    }

    .doctorname {
        font-size: clamp(2rem, 10vh, 3rem);
        line-height: 1;
        font-weight: 600;
        letter-spacing: -0.2rem;
    }

    .doctorprofession {
        padding-top: 2vh;
        line-height: 1;
        letter-spacing: -0.1rem;
        font-size: clamp(1.5rem, 6vh, 1.8rem);
        margin-bottom: 5vh;
    }

    .doctorintro .para {
        margin-top: 0;
    }
    .sub-article{
        width: 100%;
        font-size: 30%;
    }
    .sub-article img{
        width:clamp(2rem,5vw,2.5rem)
    }
    .sub-article2 {
        font-size: 30%;
    }
    
    
}