@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
  font-family: 'Urbanist' !important;
}
body{
font-family: 'Urbanist' !important;
/* overflow: hidden; */
margin: 0;
padding: 0;
}
.section1{
    height:1000vh;
    min-height:100vh;
    position: relative;
}
.main-slide{
background-color: #fff;
color:#000;
position: fixed;
top:0;
left:0;
right: 0;
max-height: 100vh;
font-size: 10rem;
}
.main-slide h1{
    font-size: 120%;
    font-weight: 700;
    letter-spacing: -0.5rem;
}
.main-slide .slide1 {
    position: relative;
    height:60vh;
    overflow: hidden;
    transition: all 1s;
}
.slide1 h1{
    position: absolute;
    bottom:-13vh;
}
.divider{
    height:0;
    background-image: url('../images/waitingroom.png');
    max-height: 100vh;
    transition: all 1s;
    overflow: hidden;
}
.main-slide .slide2 {
    position: relative;
    height:60vh;
    overflow: hidden;
    transition: all 1s;
}
.backdrop{
    position: relative;
    width:100vh;
    height:100vh;
    background-color: #0000;
}
.backdrop h2{
    position: absolute;
    top:50vh;
    left:20vh;
    font-size:4rem;
    font-weight: 600;
    color:#fff;
    letter-spacing: -0.2.5rem;
}
.backdrop h3{
    position: absolute;
    top:58vh;
    left:20vh;
    font-size:4rem;
    font-weight: 600;
    color:#fff;
    letter-spacing: -0.2.5rem;
}
.slide2 h1{
    position: absolute;
    top:-18vh;
}
.hr{
    position: absolute;
    top:0;
    left:0;
    right:0;
    height: 1px;
    width:100%;
    background-color: #000;
}
