@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
  font-family: 'Urbanist' !important;
}
body{
font-family: 'Urbanist' !important;
/* overflow: hidden; */
margin: 0;
padding: 0;
}
h1{
    font-weight: 700;
    letter-spacing: -0.5rem ;
    font-size: 120% ;
    color:black;
}
h2{
    font-weight: 700 ;
    letter-spacing: -0.4rem ;
    font-size: 100% ;
    color:black ;
}
h4{
    font-weight: 600 ;
    letter-spacing: -0.3rem ;
    font-size: 60% ;
    color:black ;
}
p{
    font-weight: 600 ;
    letter-spacing: normal ;
    font-size: 90% ;
    font-weight: 600 ;
    color:black ;
}
.slides{
    position: relative;
    color:var(--pearl);
    background-color: white;
    letter-spacing: -0.3rem ;
    height:100vh;
    
    font-size: 8rem;
  
}
.slide1 {
    position: absolute;
    /* top:0;
    left:0;
    right:0; */
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120%;
    font-weight: 700;
    letter-spacing: -0.5rem;
    background-image: url('../images/waitingroom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:0vh;
    scale: 1;
  }
  .slide1::before{
    content: 'AartasSpace';
    color: black;
    font-size: 20rem;
    position: absolute;
    top: 0vh;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%); 
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }
  .slide1::after{
    content: 'AartasSpace';
    font-size: 20rem;
    color: black;
    position: absolute;
    bottom: -24.5vh;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%); 
  }
.slide2{
    padding-left:20vh;
    padding-top:35vh;
    font-weight: 700;
    font-size: 120%;
    letter-spacing: -0.5rem;
    background-image: url('../images/vitalsroom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top:0;
    left:0;
    right:0;
    width:100%;
    overflow: hidden;
    height:100vh;
    opacity: 0,

}
.slide3{
    padding-left:20vh;
    padding-top:35vh;
    font-size: 120%;
    font-weight: 700;
    letter-spacing: -0.5rem;
    background-image: url('../images/doctorsroom.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top:0;
    left:0;
    right:0;
    overflow: hidden;
    height:100vh;
}

.slide4{
    padding-left:20vh;
    padding-top:35vh;
    font-size: 120%;
    font-weight: 700;
    letter-spacing: -0.5rem;
    background-image: url('../images/townhall.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    top:0;
    left:0;
    right:0;
    overflow: hidden;
    height:100vh;

}
.slide5{
    position: relative;
    background-color: white;
    height:100vh;
    width:100%;
}
.media{
    position: relative;
    font-size: 10rem;
    background-color: white;
    width:100%;
}
.media-content {
    width:100%;
}
.media-content h1{
    font-weight: 700 !important;
    letter-spacing: -0.5rem !important;
    font-size: 120% !important;
    margin-top:20vh;
}
.media-content h4{
    font-weight: 700;
    letter-spacing: -0.12rem;
    font-size: 40%;
    color:white;
    transition: all 0.3s;

}
.media-content h5{
    font-weight: 700;
    letter-spacing: -0.12rem;
    font-size: 25%;
    color:white;
    transition: all 0.67s;
}
.media-content h6{
    font-weight: 700;
    letter-spacing: -0.12rem;
    font-size: 25%;
    color:black;
}

 .image2{
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
    transition: transform 0.5s;
}
 .image2:hover{
    transform: scale(1.2);
}
.image2:hover{
    overflow: hidden;
}
.image2 a{
    opacity: 0;
    font-size: 16%;
    letter-spacing: normal;
    font-weight: 600;
    color:white;
    border-bottom:1px solid transparent;
    transform: translateY(0%);
    transition: all 0.6s;
}
.image2 a:hover{
    cursor: pointer;
    border-bottom:1px solid white;

}
.image2 h6{
    opacity: 0;
    font-weight: 600;
    font-size: 10%;
    letter-spacing: normal;
    color:white;
    text-align: center;
    transform:translateY(0%);
    transition: all 0.6s;
    width:60%;
}
.media-content .image2:hover h4{
    font-size: 25%;
}
.media-content .image2:hover h5{
    transform: translateY(-50%);
    opacity: 0;
}
.media-content .image2:hover h6{
    transform:translateY(-50%);
    opacity: 1;
}
.media-content .image2:hover a{
    opacity: 1;
    transform: translateY(-50%);
}
.media-content .townhall1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 120%;
    font-weight: 700;
    letter-spacing: -0.5rem;
    transform: scale(1);
    overflow: hidden;
    transition: all 0.5s;
    background-image: url('../images/townhall1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:90vh;
    margin-top:40%;
    margin-bottom:5%;
}
.media-content .waiting{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    font-size: 120%;
    font-weight: 700;
    letter-spacing: -0.5rem;
    transform: scale(1);
    transition: all 0.5s;
    background-image: url('../images/waitingroom1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    margin-top:5%;
    height:80vh;
    margin-bottom:5%;
}
.waiting h4{
    padding-left:0;
}
.media-content .alldoctors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    font-size: 120%;
    font-weight: 700;
    letter-spacing: -0.5rem;
    transform: scale(1);
    transition: all 0.5s;
    background-image: url('../images/alldoctors.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    margin-top:10%;
    margin-bottom:5%;
    height:70vh;
}
.media-content .townhall2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 120%;
    font-weight: 700;
    letter-spacing: -0.5rem;
    transform: scale(1);
    transition: all 0.5s;
    overflow: hidden;
    background-image: url('../images/townhall2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    margin-top:5%;
    margin-bottom:10vh;
    height:80vh;
}
.about{
    width:100%;
    margin-top:10vh;
    background-color: white;
    font-size: 10rem;
    position: relative;
}
.about h1{
    font-weight: 700;
    letter-spacing: -0.5rem ;
    font-size: 120% ;
    line-height: 10rem;
    padding-left:5%;
    font-size: 120%;

}
.about h4{
    padding-left:5%;
    font-size: 30%; 
    letter-spacing: -0.1rem ;  
    font-weight: 700;
    line-height: 2.5rem;
}
.about p{
    padding-left:5%;
    font-size: 20% !important;
}

.slot1{
    padding-top:50vh;
    height:100vh;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: 2;
    width:100%;
    overflow-y: auto;

}
.card1 ,.card2{
margin-left: 60%;
}
.about .card{
height:50vh;
max-width:18rem;
}

.specialities{

    font-size: 10rem;
    height: 100vh;
    width:100%;
    align-items: center;
}

.specialities .types{
    max-width:20vh;
    width:20vh;
    background-color: black;
    margin-left:5vh;
    margin-right:5vh;
    height:30vh;
    max-height: 30vh;
}
.scroller {
    transform: translateX(30%);
    width:100%;
    height: 100vh;
}
.specialities h4{
    position: relative;
    font-size: 80%;
    font-weight: 700;
    letter-spacing: -0.4rem;
    color: black;
} 
.specialities .scroll-line{
    position: absolute;
    left:1.8%;
    margin-top:5vh;
    height:90vh;
    width:2px;
    background-color: black;
    margin-left: 5vh;
}
.specialities .scroll-thumb{
    height:5vh;
    width:10px;
    left:-5.5%;
    background-color: black;
    position: absolute;
    transform: translateY(0);
}
